<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/post.css">
    <link rel="stylesheet" href="/header.css">
    
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <header class="HeaderComponent">
        <div class="HeaderContainer">
          <span>
            <a href="http://localhost:3001/">로코코</a>
          </span>
          <nav class="HeaderNav">
            <a href="http://localhost:3000/post">가이드</a>
            <a href="http://localhost:3000/skilldb">스킬DB</a>
          </nav>
        </div>
    </header>

    <!-- main -->
    <div class = "container">
        <div class = "community">
            <div class = "textarea">
                <form name="input1"  method="post" >
                    <div id = "tagArea"></div>
                </form>
                <!-- <form name="input" method="post">
                    닉네임<input type="text" name="id" maxlength="100">
                    비밀번호<input type="text" name="password" maxlength="100">
                    내용<input type="text" name="contents" maxlength="100">
                    <input type="submit" value="글쓰기" formaction="/inputpost1">  
                </form> -->
                <button type="button" onclick="location.href='/write' ">상세 글쓰기</button>
            </div>
        
        <script>
            let b="";
            let c="";
            
            let tagArea = document.getElementById('tagArea');
            
            
            </script>
    
        <%
        for(var i=0; i<rows.length; i++)
        {
            var data = rows[i];
            %>
        
            <script>
                var a = "<%=data.id%>"+"<br>    "+"<%=data.Contents%>";
                if("<%=data.SkillName1%>"){
                    a = a.replace(new RegExp("<%=data.SkillName1%>", "g"), "<span class='test1'>" + "<%=data.SkillName1%>" + "</span>");
                    if("<%=data.SkillName2%>"){
                        a = a.replace(new RegExp("<%=data.SkillName2%>", "g"), "<span class='test2'>" + "<%=data.SkillName2%>" + "</span>");
                        if("<%=data.SkillName3%>"){
                            a = a.replace(new RegExp("<%=data.SkillName3%>", "g"), "<span class='test3'>" + "<%=data.SkillName3%>" + "</span>");
                        }
                    }
                }
                console.log(a);
                b = document.createElement('div');
                c = document.createElement("button");
                
                b.id = "<%=data.Num%>";
                b.innerHTML = a;
                var a1 = '<img src= "<%=data.SkillThumb1%>" alt="이미지" width="50"/>' + '<div style = "text-align: center;">' + "<%=data.SkillName1 %>" + '</br>' +'</div>'+ '<hr>' +"<%=data.SkillEx1%>" +'</br>'+'<img src= "<%=data.SkillImg1%>" alt="이미지" width="200"/>'+'</br>';
                tip1 =  document.createElement('span');
                tip1.id = "toolskill1";
                tip1.innerHTML = a1;
                var a2 = '<img src= "<%=data.SkillThumb2%>" alt="이미지" width="50"/>' + '<div style = "text-align: center;">' +  "<%=data.SkillName2%>" +'</br>' +'</div>'+ '<hr>'+"<%=data.SkillEx2%>" +'</br>'+'<img src= "<%=data.SkillImg2%>" alt="이미지" width="200"/>'+'</br>';
                tip2 =  document.createElement('span');
                tip2.id = "toolskill2";
                tip2.innerHTML = a2;
                var a3 = '<img src= "<%=data.SkillThumb3%>" alt="이미지" width="50"/>' + '<div style = "text-align: center;">' + "<%=data.SkillName3%>"+'</div>'+ '<hr>' +'</br>' +"<%=data.SkillEx3%>" +'</br>'+'<img src= "<%=data.SkillImg3%>" alt="이미지" width="200"/>' + '</br>';
                tip3 =  document.createElement('span');
                tip3.id = "toolskill3";
                tip3.innerHTML = a3;
                
                
                tagArea.appendChild(b);
                b.appendChild(tip1);
                b.appendChild(tip2);
                b.appendChild(tip3);
                
                (function (currentC) {
                    c.setAttribute("value", "<%=data.Num%>");
                    c.setAttribute("name", "aa");
                    c.innerHTML = "X";
                    c.type = "submit";
                    c.setAttribute("class", "test11");
                    c.addEventListener('click', function () {
                        var result = prompt('비밀번호를 입력하세요', "");
                        if (result == "<%=data.password%>") {
                            alert('확인되었습니다');
                            currentC.setAttribute("formaction", "/tt");
                        } else {
                            alert('틀렸습니다');
                            currentC.setAttribute("formaction", "/tt1");
                        }
                    });
                })(c); 
                b.appendChild(c);
                
                </script>
            
            
            <%}
            %>
        </div>
        <div class="jobSelector">
        <!-- 내 직업 -->
            <div class = "my">
                <form id="input" method="post" class="myJob">
                    <span>내 직업</span>
                    <button type="submit" class = "me" name="me" value="리퍼" formaction="/postsearch">리퍼</button>
                    <button type="submit" class = "me" name="me" value="인파이터" formaction="/postsearch">인파이터</button>
                    <button type="submit" class = "me" name="me" value="워로드" formaction="/postsearch">워로드</button>
                    <button type="submit" class = "me" name="me" value="디스트로이어" formaction="/postsearch">디스트로이어</button>
                    <button type="submit" class = "me" name="me" value="버서커" formaction="/postsearch">버서커</button>
                </form>
            </div>
        <!-- 상대 직업 -->
            <div class = "opp">
                <form name="input" method="post">
                    <div class = "pongpong">
                        <span>상대 직업</span>
                        <button type="submit" class = "you" name="you" value="리퍼" formaction="/postsearch1">리퍼</button>
                        <button type="submit" class = "you" name="you" value="인파이터" formaction="/postsearch1">인파이터</button>
                        <button type="submit" class = "you" name="you" value="워로드" formaction="/postsearch1">워로드</button>
                        <button type="submit" class = "you" name="you" value="디스트로이어" formaction="/postsearch1">디스트로이어</button>
                        <button type="submit" class = "you" name="you" value="버서커" formaction="/postsearch1">버서커</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
            <script>
                var meButtons = document.getElementsByClassName("me");
                for (var i = 0; i < meButtons.length; i++) {
                    if (meButtons[i].value === "<%=postme%>") {
                        meButtons[i].style.backgroundColor = "red";
                    }
                }
                var youButtons = document.getElementsByClassName("you");
                for (var i = 0; i < youButtons.length; i++) {
                    if (youButtons[i].value === "<%=postyou%>") {
                        youButtons[i].style.backgroundColor = "blue"
                    }
                }
            </script>
</body>
</html>